<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fireBoost_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{1174,806},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gravityLine_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,75}</string>
			<key>spriteSourceSize</key>
			<string>{1,76}</string>
			<key>textureRect</key>
			<string>{{658,1073},{1,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{2,2},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{262,2},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{522,2},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{782,2},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_05_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{1042,2},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_06_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{1302,2},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_07_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{1562,2},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_08_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,221}</string>
			<key>spriteSourceSize</key>
			<string>{256,222}</string>
			<key>textureRect</key>
			<string>{{782,511},{256,221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_08_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,73}</string>
			<key>spriteSourceSize</key>
			<string>{256,74}</string>
			<key>textureRect</key>
			<string>{{1042,729},{256,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_09_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,225}</string>
			<key>spriteSourceSize</key>
			<string>{256,226}</string>
			<key>textureRect</key>
			<string>{{1302,499},{256,225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_09_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,43}</string>
			<key>spriteSourceSize</key>
			<string>{256,44}</string>
			<key>textureRect</key>
			<string>{{2,1997},{256,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_10_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,233}</string>
			<key>spriteSourceSize</key>
			<string>{256,234}</string>
			<key>textureRect</key>
			<string>{{1302,262},{256,233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_10_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,25}</string>
			<key>spriteSourceSize</key>
			<string>{256,26}</string>
			<key>textureRect</key>
			<string>{{1178,1092},{256,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,224}</string>
			<key>spriteSourceSize</key>
			<string>{256,224}</string>
			<key>textureRect</key>
			<string>{{1042,501},{256,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,33}</string>
			<key>spriteSourceSize</key>
			<string>{256,34}</string>
			<key>textureRect</key>
			<string>{{1178,1055},{256,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_12_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,235}</string>
			<key>spriteSourceSize</key>
			<string>{256,236}</string>
			<key>textureRect</key>
			<string>{{1042,262},{256,235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_12_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,43}</string>
			<key>spriteSourceSize</key>
			<string>{256,44}</string>
			<key>textureRect</key>
			<string>{{526,1171},{256,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_13_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{256,228}</string>
			<key>spriteSourceSize</key>
			<string>{256,230}</string>
			<key>textureRect</key>
			<string>{{1562,495},{256,228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_13_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,41}</string>
			<key>spriteSourceSize</key>
			<string>{256,42}</string>
			<key>textureRect</key>
			<string>{{1178,1010},{256,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_14_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,229}</string>
			<key>spriteSourceSize</key>
			<string>{256,230}</string>
			<key>textureRect</key>
			<string>{{1562,262},{256,229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_14_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,69}</string>
			<key>spriteSourceSize</key>
			<string>{256,70}</string>
			<key>textureRect</key>
			<string>{{782,736},{256,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_15_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{2,262},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_15_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,146}</string>
			<key>spriteSourceSize</key>
			<string>{256,148}</string>
			<key>textureRect</key>
			<string>{{1302,728},{256,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_16_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{2,522},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_16_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,166}</string>
			<key>spriteSourceSize</key>
			<string>{256,166}</string>
			<key>textureRect</key>
			<string>{{1562,727},{256,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_17_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{2,782},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_17_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,184}</string>
			<key>spriteSourceSize</key>
			<string>{256,184}</string>
			<key>textureRect</key>
			<string>{{522,729},{256,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_18_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,245}</string>
			<key>spriteSourceSize</key>
			<string>{256,246}</string>
			<key>textureRect</key>
			<string>{{782,262},{256,245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_18_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,196}</string>
			<key>spriteSourceSize</key>
			<string>{256,196}</string>
			<key>textureRect</key>
			<string>{{262,725},{256,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_19_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{2,1042},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_19_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,211}</string>
			<key>spriteSourceSize</key>
			<string>{256,211}</string>
			<key>textureRect</key>
			<string>{{522,514},{256,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_20_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{2,1302},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_20_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,248}</string>
			<key>spriteSourceSize</key>
			<string>{256,250}</string>
			<key>textureRect</key>
			<string>{{522,262},{256,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_21_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{2,1562},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_21_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,171}</string>
			<key>spriteSourceSize</key>
			<string>{256,172}</string>
			<key>textureRect</key>
			<string>{{2,1822},{256,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_22_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{262,262},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>groundSquare_22_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{256,199}</string>
			<key>spriteSourceSize</key>
			<string>{256,200}</string>
			<key>textureRect</key>
			<string>{{262,522},{256,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>GroundSheet_01-hd.png</string>
	</dict>
</dict>
</plist>
